beautifulsoup4~=4.11
comet_ml~=3.31
jsonmodels~=2.5
keras~=2.10
librosa~=0.9
loguru~=0.6
lxml~=4.9
matplotlib~=3.5
numpy~=1.23.3
pandas~=1.5
protobuf==3.19.4
pydub~=0.25
requests~=2.28
scikit-learn~=1.1
scipy~=1.9
unsilence~=1.0

# TensorFlow must be installed either manually or by uncommenting the following lines
# Uncomment next line for all the Operating Systems and architectures other than macOS and Apple Silicon
# tensorflow~=2.10
# Uncomment next two lines only for Apple Silicon processor
# tensorflow-macos~=2.10
# tensorflow-metal~=0.6
